@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(0 0 0);

  --card: oklch(40.367% 0.12912 255.448);
  --card-foreground: oklch(1 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);

  --primary: oklch(86.7% 0.1815 104.43);
  --primary-foreground: oklch(0 0 0);

  --secondary: oklch(0.6 0.18 250);
  --secondary-foreground: oklch(1 0 0);

  --muted: oklch(0.96 0.02 250);
  --muted-foreground: oklch(0.5 0.05 250);

  --accent: oklch(0.96 0.02 250);
  --accent-foreground: oklch(0.35 0.15 250);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.9 0.03 250);
  --input: oklch(0.9 0.03 250);
  --ring: oklch(0.35 0.15 250);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.2 0.05 250);
  --foreground: oklch(0.95 0.02 250);

  --card: oklch(0.25 0.08 250);
  --card-foreground: oklch(0.95 0.02 250);

  --popover: oklch(0.22 0.06 250);
  --popover-foreground: oklch(0.95 0.02 250);

  --primary: oklch(0.8 0.2 85);
  --primary-foreground: oklch(0 0 0);

  --secondary: oklch(0.6 0.18 250);
  --secondary-foreground: oklch(1 0 0);

  --muted: oklch(0.28 0.07 250);
  --muted-foreground: oklch(0.7 0.04 250);

  --accent: oklch(0.28 0.07 250);
  --accent-foreground: oklch(0.95 0.02 250);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.95 0.02 250);

  --border: oklch(0.3 0.08 250);
  --input: oklch(0.3 0.08 250);
  --ring: oklch(0.6 0.18 250);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}